<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="./css/styles.css">
  <script src="./JS/app.js"></script>
  <title>404</title>
  <link rel="icon" href="/images/weather.png">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>{{errorMsg}}</p>
  </div>
  {{>footer}}

</body>

</html>