<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css">

  <title>about</title>
  <link rel="icon" href="/images/weather.png">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <img class="portrait" alt="crush" src="./images/2.gif">
  </div>
  {{>footer}}
</body>

</html>